<div class='grid-container'>
    <label class='field-label'>Name</label>
    <input class='input-field' maxlength='30' type='text' name='name' value='<%= listing.name %>'>

    <label class='field-label'>Location</label>
    <input class='input-field' maxlength='30' type="text" name='location' value='<%= listing.location %>'></input>

    <label class='field-label'>Description</label>
    <textarea class='input-field' id='desc' type="text" name='description' value='<%= listing.description %>' rows='5'></textarea>

    <label class='field-label'>Start Date</label>
    <input class='input-field' maxlength='30' type="text" name='startDate' value='<%= listing.startDate %>'></input>

    <label class='field-label'>End Date</label>
    <input class='input-field' maxlength='30' type="text" name='endDate' value='<%= listing.endDate %>'></input>

</div>
