<!DOCTYPE html>
<html>
  <head>
<%- include('../partials/head') %>
<%- include('../partials/sideBar') %>
<%- include('../partials/navBar') %>


<script>

$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>

  </head>
</head>
<body>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/Tahity.jpeg"></div>
  </div>
  <div class="section s4 m4">
    <div class="row container">
      <section class="main-form">
      <form action="/listings/<%= listing.id %>?_method=PUT" method='POST' class='💪'>
        <h1 class='listing-header'>Edit Listing</h1>
        <%- include('../partials/form-fields') %>
        <%- include('../partials/error-message') %>
        <button class='submit-button' type='submit'>Update</button>
        <a class='cancel-link' href="/listings/<%= listing.id %>">Cancel</a>
     </form>
    </section>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/SF.jpeg"></div>
  </div>
</body>
<%- include('../partials/footer') %>
</html>

