<!DOCTYPE html>
<html>
<head>
     <%- include('../partials/head') %>
     <%- include('../partials/navBar') %>
     <%- include('../partials/sideBar') %>
    
     <script>
     $(document).ready(function(){
      $('.slider').slider({ 
        indicator:false,
        height:600,
        transition:500,
        interval:6000,
         fullWidth: true
      });
    });
  </script>     
</head> 
<body class="view">

<!-- Search -->
  <section class="search" class="section section-searc black-text center scrollspy">
  <div class="container">
    <div class='row'>
      <div class="col s12">
        <form class="input-field-form">
          <input type="text" name='location' placeholder='search locations...' value='<%= searchOptions.location %>'>
          <button type='submit'>Search</button>
        </form>
    </div>
  </div>
</section>
  <div class="row">
    <div class='col'>
      <div class=".show-all-flex">
  <% listings.forEach(listing => { %>
    <a href='/listings/<%= listing.id %>' class='listingItem'>
      <span class='title'><%= listing.name %></span>
      <span class='datePosted'><%= `Posted: ${listing.datePosted}` %></span>
      <span class='listLocation'><%= listing.location %></span>
      <span class='listDescription'><%= listing.description %></span>
      <span class='timeSpan'><%= `${listing.startDate} - ${listing.endDate}` %></span>
      <img  class="img" src="<%= listing.img %>" alt="<%= listing.img %>"></img>
    </a>
<% }) %>
 </div>
 </div>
 <section id="gallery" class="section right margin-top 10px  scrollspy">
  <div class="container right">
    <h4 class="centered">
      <span class="pink-text">TravelSwaps</span> Around the Globe</h4>
    </h4>
    <div class="row">
      <div class="col s12 m3">
        <img src="http://source.unsplash.com/1000x900/?Paris" alt="" class="materialboxed responsive-img">
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img src="http://source.unsplash.com/1000x900/?Hawaii" alt="" class="materialboxed responsive-img">
        </div> 
        <div class="row">
          <div class="col s12 m3">
            <img src="http://source.unsplash.com/1000x900/?Dubai" alt="" class="materialboxed responsive-img">
          </div>
    </div>
    <!-- Row two -->
    <div class="row">
      <div class="col s12 m3">
        <img src="http://source.unsplash.com/1000x900/?Egypt" alt="" class="materialboxed responsive-img">
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img src="http://source.unsplash.com/1000x900/?peru" alt="" class="materialboxed responsive-img">
        </div> 
        <div class="row">
          <div class="col s12 m3">
            <img src="http://source.unsplash.com/1000x900/?Costa Rica" alt="" class="materialboxed responsive-img">
          </div>

    </div>
    <!-- Row 3 -->
    <div class="row">
      <div class="col s12 m3">
        <img src="http://source.unsplash.com/1000x900/?alaska" alt="" class="materialboxed responsive-img">
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img src="http://source.unsplash.com/1000x900/?Japan" alt="" class="materialboxed responsive-img">
        </div> <div class="row">
          <div class="col s12 m3">
            <img src="http://source.unsplash.com/1000x900/?australia" alt="" class="materialboxed responsive-img">
          </div>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <img src="http://source.unsplash.com/1000x900/?Bahamas" alt="" class="materialboxed responsive-img">
      </div>
      <div class="row">
        <div class="col s12 m3">
          <img src="http://source.unsplash.com/1000x900/?Tulum" alt="" class="materialboxed responsive-img">
        </div> <div class="row">
          <div class="col s12 m3">
            <img src="http://source.unsplash.com/1000x900/?Guam" alt="" class="materialboxed responsive-img">
          </div>
    </div>
  </div>
</section>
 </div>
 <script>

  //SideNav
  $(document).ready(function(){
       $('.sidenav').sidenav();
  });
  
  $(document).ready(function(){
          $('.slider').slider({ 
            indicator:false,
            height:600,
            transition:500,
            interval:6000,
             fullWidth: true
          });
        });
           
        $(document).ready(function(){
          $('.sidenav').sidenav();
        });
  
        $(document).ready(function(){
             $('input.autocomplete').autocomplete
             ({
                  data:{
                       'Aruba': null,
                       'Bali': null,
                       'Florida': null,
                       'Hawaii': nul,
                       'Brazil': null,
                      },
              });
         });
        
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
       
    $(document).ready(function(){
      $('select').formSelect();
    });
             
  </script>
</body>
<%- include('../partials/footer') %>
</html>
 