<head>
     <%- include('../partials/head') %>
     
     <div class="navbar-fixed">
        <nav class="pink lighten-1 z-depth-5">
          <div class="container">
          <div class="nav-wrapper">
            <a href="/index" class="brand-logo">TravelSwap</a>
            <a href="/index" data-target="mobile-nav"class="sidenav-trigger"><i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/listings">View Swaps</a> </li>
              <!-- <li><a href="/listings/newlisting">Add Swap</a></li> -->
              <li><a href="reviewsF/new.ejs">Reviews</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </nav>
      </div>
     </div>
</head>
<div class='show-all-flex'>
  <form action="/listings" method='GET'>
    <div class='search'>
      <input type="text" name='location' placeholder='search locations...' value='<% searchOptions.location %>'>
      <button type='submit'>Search</button>
    </div>
  </form>
  <% listings.forEach(listing => { %>

    <div class='listingItem'>
      <span class='title'><%= listing.name %></span>
      <span class='datePosted'><%= listing.datePosted %></span>
      <span class='listLocation'><%= listing.location %></span>
      <span class='listDescription'><%= listing.description %></span>
      <span class='timeSpan'><%= `${listing.startDate} - ${listing.endDate}` %></span>
    </div>
<% }) %>
</div>