<!DOCTYPE html>
<html>
  <head>
<%- include('../partials/head') %>
<%- include('../partials/sideBar') %>
<%- include('../partials/navBar') %>

<script>

$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>

</head>
<body>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/Tahity.jpeg"></div>
  </div>
  <div class="section s4 m4">
    <div class="row container">
      <section class="main-form">
      <h2 class="listing-header">Create your listing </h2>
      <form action="/listings" method='POST' class='💪'>
        <%- include('../partials/form-fields') %>
        <%- include('../partials/error-message') %>
        <button class='submit-button' type='submit'>Create</button>
        <a class='cancel-link' href="/">Cancel</a>
     </form>
    </section>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/SF.jpeg"></div>
  </div>
</body>
<%- include('../partials/footer') %>
</html>
