<head>
    <%- include('../partials/head') %>
    
    <div class="navbar-fixed">
       <nav class="pink lighten-1 z-depth-5">
         <div class="container">
         <div class="nav-wrapper">
           <a href="/" class="brand-logo">TravelSwap</a>
           <a href="/" data-target="mobile-nav"class="sidenav-trigger"><i class="material-icons">menu</i>
           </a>
           <ul class="right hide-on-med-and-down">
             <li><a href="/listings">View Swaps</a> </li>
             <li><a href="/listings/newlisting">Add Swap</a></li>
             <li><a href="reviewsF/new.ejs">Reviews</a></li>
             <li><a href="#">Help</a></li>
           </ul>
         </div>
       </nav>
     </div>
    </div>
</head>
<div class='single-listing-container'>
    <div class='listing-box'>
        <h1><%= listing.name %></h1>
        <h3 class='individualLocation'><%= listing.location %></h3>
        <h3 class='individualDate'><%= `Available: ${listing.startDate} - ${listing.endDate}` %></h3>
        <p><%= listing.description %></p>
        <a class='editButton' href='/listings/<%= listing.id %>/edit'>Edit</a>
        <form method='POST' action='/listings/<%= listing.id %>?_method=DELETE'>
            <button type='submit' class='deleteButton' href="/listings/<%= listing.id %>">Delete</button>
        </form>
    </div>
    <!-- * Reviews * -->
    

</div>