<head>
    <%- include('../partials/head') %>
    <%- include('../partials/navBar') %> 
    


    <script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    </script>
</head>
<body>
  <section id="gallery" class="section section-gallery scrollspy">
    <div class="container">

      <div class="row">
        <div class="col s12 m4">
          <img src="http://source.unsplash.com/1000x900/?New Port Villa" alt="" class="materialboxed responsive-img">
        </div>
        <div class="row">
          <div class="col s12 m4">
            <img src="http://source.unsplash.com/1000x900/?Laguna Beach Houses" alt="" class="materialboxed responsive-img">
          </div> 
          <div class="row">
            <div class="col s12 m4">
              <img src="http://source.unsplash.com/1000x900/? Houses" alt="" class="materialboxed responsive-img">
            </div>
            </div>
          </section>
<div class='single-listing-container'>
    <div class='listing-box'>
        <h1><%= listing.name %></h1>
        <h3 class='individualLocation'><%= listing.location %></h3>
        <h3 class='individualDate'><%= `Available: ${listing.startDate} - ${listing.endDate}` %></h3>
        <p><%= listing.description %></p>
        <a class='editButton' href='/listings/<%= listing.id %>/edit'>Edit</a>
        <form method='POST' action='/listings/<%= listing.id %>?_method=DELETE'>
            <button type='submit' class='deleteButton' href="/listings/<%= listing.id %>">Delete</button>
        </form>
    </div>
    <!-- * Reviews * -->
</div>
</body>
<%- include('../partials/footer') %>